@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Scripts{
    <environment include="Development">
        <script src="/js/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="/js/index.min.js"></script>
    </environment>
}
<div class="grid" id="app">
    <c-section return-icon title="Status">
        <template v-slot:content>
            <div class="grid  grid-flow-col gap-4">
                <div>
                    <c-section class="ml-2" return-icon title="Box 1" small>
                        <template v-slot:content>
                            <div class="text-gray-300 grid grid-rows-2">
                                <c-input input-label="Undone: ">
                                    <template v-slot:input>
                                        <input class="text-center" type="text" v-model="sums.Expenditures.ThisMonthFormatted" disabled />
                                    </template>
                                </c-input>
                            </div>
                        </template>
                    </c-section>
                    <c-section return-icon title="Box 2" small>
                        <template v-slot:content>
                            <div class="grid grid-rows-2 text-gray-300">
                                <c-input input-label="Undone: ">
                                    <template v-slot:input>
                                        <input type="text" v-model="sums.Incomes.ThisMonthFormatted" disabled />
                                    </template>
                                </c-input>
                            </div>
                        </template>
                    </c-section>
                    <c-section extra-classes="mr-2" return-icon title="Box 3" small>
                        <template v-slot:content>
                            <div class="grid grid-rows-2 text-gray-300">
                                <c-input input-label="Undone: ">
                                    <template v-slot:input>
                                        <input type="text" v-model="sums.Savings.ThisMonthFormatted" disabled />
                                    </template>
                                </c-input>
                            </div>
                        </template>
                    </c-section>

                </div>
                <div>
                    <c-section extra-classes="mr-2" return-icon title="Box 4" small>
                        <template v-slot:content>
                            <div class="grid grid-rows-2 text-gray-300">
                                <c-input input-label="Undone: ">
                                    <template v-slot:input>
                                        <input type="text" v-model="sums.Savings.ThisMonthFormatted" disabled />
                                    </template>
                                </c-input>
                            </div>
                        </template>
                    </c-section>
                    <c-section extra-classes="mr-2" return-icon title="Box 5" small>
                        <template v-slot:content>
                            <div class="grid grid-rows-2 text-gray-300">
                                <c-input input-label="Undone: ">
                                    <template v-slot:input>
                                        <input type="text" v-model="sums.Savings.ThisMonthFormatted" disabled />
                                    </template>
                                </c-input>
                            </div>
                        </template>
                    </c-section>
                </div>
            </div>

        </template>
    </c-section>
</div>
