@page
@model WebApp_UnderTheHood.Pages.Account.LoginModel
@{
}
<div class="grid justify-items-center">
    <div class="form-group row w-9/12">
        <img src="banner.png" />
    </div>
    <div class="containter border rounded-3xl mt-6" style="padding: 20px">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Credential.UsernameOrEmail"></label>
                </div>
                <div class="col-5">
                    <input class="form-control bg-background-3" type="text" asp-for="Credential.UsernameOrEmail" />
                </div>
                <span class="text-goldenText-1" asp-validation-for="Credential.UsernameOrEmail"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Credential.Password"></label>
                </div>
                <div class="col-5">
                    <input class="form-control bg-background-3" type="password" asp-for="Credential.Password" />
                </div>
                <span class="text-goldenText-1" asp-validation-for="Credential.Password"></span>
            </div>
            <div class="row form-check mb-2">
                <input type="checkbox" asp-for="Credential.RememberMe" class="form-check-input" />
                <label class="form-check-label" asp-for="Credential.RememberMe"></label>
            </div>
            <div class="flex justify-center text-border-1 border rounded">
                <button type="submit" value="login">Login</button>
            </div>
        </form>
    </div>
</div>
