@page "/admin/account/role/roledetails/{id:long}"
@model Web0.Pages.Admin.Account.Role.RoleDetailsModel
@{
}
@section Scripts{
    <environment>
        <script src="/js/roleDetails.min.js"></script>
    </environment>
}
    <div class="row justify-content-center" id="app" data-entity-id="@Model.EntityId">
        <c-section :title="details.RoleId > 0 ? 'Role Details' : 'New Role'">
            <template v-slot:content>
                <c-input input-label="Name: ">
                    <template v-slot:input>
                        <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="details.Name" />
                    </template>
                </c-input>
                <c-button title="Save" v-on:click="save"></c-button>
            </template>
        </c-section>
    </div>