@page "/category/details/{id:long}"
@model Web.Pages.DataManagement.Category.Details.CategoryDetailsModel
@{
    ViewData["Title"] = "Category Details";
}
@section Scripts{
    <environment include="Development">
        <script src="/js/categoryDetails.js"></script>
        <script src="/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="/js/categoryDetails.min.js"></script>
        <script src="/js/site.min.js"></script>

    </environment>
}
<div class="row justify-content-center" id="app" data-entity-id="@Model.EntityId">
    <c-section :title="details.CategoryId > 0 ? 'Category Details' : 'New Category'">
        <template v-slot:content>
            <c-input input-label="Name: ">
                <template v-slot:input>
                    <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="details.Name" />
                </template>
            </c-input>
            <c-button class="mt-5 justify-end" title="Save" v-on:click="save"></c-button>
        </template>
    </c-section>
</div>
