@page
@model Web.Pages.DataManagement.Payment.PaymentListModel
@{
    ViewData["Title"] = "Payment List";
}
@section Scripts{
    <environment include="Development">
        <script src="/js/paymentlist.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="/js/paymentlist.min.js"></script>
    </environment>
}
<div class="row justify-content-center" id="app" v-on:scroll.passive="scrolltest">
    <c-section :title="'Payment List'">
        <template v-slot:content>
            <div>
                @*<my--username name="test" asd="asdf">
                <div slot="name">Faraz ...</div>
                </my--username>*@
                <c-button title="Create New" icon="fa-plus" v-on:click="openPaymentDetailsModal"></c-button>
                <div>
                    <c-table :use-infinite-scroll="false" v-bind:filter="filter" v-on:fetch-page="fetchPage">
                        <template v-slot:thead>
                            <tr>
                                <c-th title="Title" value="Title"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th title="Priority"
                                      value="PaymentPriorityName"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th title="Business"
                                      value="BusinessName"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th title="Deposit"
                                      value="IsDeposit"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th title="Paid To Person"
                                      value="IsPaidToPerson"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th title="Category"
                                      value="CategoryName"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th colspan="2"
                                      title="Price"
                                      value="Price"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th colspan="2"
                                      title="Date"
                                      value="Date"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                            </tr>
                            <tr>
                                <th>
                                    <c-input>
                                        <template v-slot:input>
                                            <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="filter.Title" />
                                        </template>
                                    </c-input>
                                </th>
                                <th>
                                    <c-select :options="priorities" track-by="PaymentPriorityId" :value="filter.PaymentPriorityId" v-model="filter.PaymentPriorityId"></c-select>
                                </th>
                                <th>
                                    <c-select :options="businesses" :track-by="'BusinessId'" :value="filter.BusinessId" v-model="filter.BusinessId"></c-select>
                                </th>
                                <th>
                                    <c-select :options="[{Id:null, Name:'All'}, {Id:false, Name:'No'}, {Id:true, Name:'Yes'}]" :value="filter.IsDeposit" v-model="filter.IsDeposit"></c-select>
                                </th>
                                <th>
                                    <c-select :options="[{Id:null, Name:'All'}, {Id:false, Name:'No'}, {Id:true, Name:'Yes'}]" :value="filter.IsPaidToPerson" v-model="filter.IsPaidToPerson"></c-select>
                                </th>
                                <th>
                                    <c-select :options="categories" :track-by="'CategoryId'" :value="filter.CategoryId" v-model="filter.CategoryId"></c-select>
                                </th>
                                <th>
                                    <c-input>
                                        <template v-slot:input>
                                            <input class="bg-blue-900 border-2 rounded-full" type="number" v-model="filter.PriceFrom" />
                                        </template>
                                    </c-input>
                                </th>
                                <th>
                                    <c-input>
                                        <template v-slot:input>
                                            <input class="bg-blue-900 border-2 rounded-full" type="number" v-model="filter.PriceTo" />
                                        </template>
                                    </c-input>
                                </th>
                                <th>
                                    <c-datepicker v-model="filter.DateFrom"></c-datepicker>
                                </th>
                                <th>
                                    <c-datepicker v-model="filter.DateTo"></c-datepicker>
                                </th>
                            </tr>
                        </template>
                        <template v-slot:tbody>
                            <template v-for="(item, index) in items">
                                <c-tr v-bind:index="index" v-on:click="openPaymentDetailsModal(item)">
                                    <template v-slot:content>
                                        <td>{{item.Title}}</td>
                                        <td>{{item.PaymentPriorityName}}</td>
                                        <td>{{item.BusinessName}}</td>
                                        <td>{{item.IsDeposit}}</td>
                                        <td>{{item.IsPaidToPerson}}</td>
                                        <td>{{item.CategoryName}}</td>
                                        <td colspan="2">{{item.PriceFormatted}}</td>
                                        <td class="text-center" colspan="2">{{item.DateFormatted}}</td>
                                    </template>
                                </c-tr>
                            </template>
                        </template>
                    </c-table>

                </div>
            </div>
        </template>
    </c-section>
    <c-modal v-on:save="savePayment" v-on:keyup.esc="closeModal()" v-on:close="closeModal()" v-show="showDetailsModal">
        <template v-slot:header>
            <h4>{{paymentDetails.PaymentId > 0 ? paymentDetails.Title : 'New Payment'}}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </template>
        <template v-slot:body>
            <div class="flex justif-between">
                <div class="mr-4">
                    <div class="flex g-2">
                        <div class="mt-2">
                            <c-input input-label="Title">
                                <template v-slot:input>
                                    <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="paymentDetails.Title" />
                                </template>
                            </c-input>
                        </div>
                        <div class="mt-2">
                            <c-input input-label="Category: ">
                                <template v-slot:input>
                                    <c-select :options="categories" track-by="CategoryId" :value="paymentDetails.CategoryId" v-model="paymentDetails.CategoryId"></c-select>
                                </template>
                            </c-input>
                        </div>
                    </div>
                    <div class="flex justify-between mt-2">
                        <c-input input-label="Price: ">
                            <template v-slot:input>
                                <input type="number" class="bg-blue-900 border-2 rounded-full" v-model="paymentDetails.Price" required />
                            </template>
                        </c-input>
                        <c-dropdown ref="businessLookup" input-label="Business" v-bind:dorpdown-items="searchResultBusinesses.length" v-bind:items-visiblility="showItems">
                            <template v-slot:body>
                                <div>
                                    <input autocomplete="off" class="bg-background-2 border-2 rounded-full" id="searchBusinesses"
                                           v-model="paymentDetails.BusinessName" v-on:keydown.enter.prevent="scanBusiness()" autofocus />
                                </div>
                            </template>
                            <template v-slot:items>
                                <div class="bg-customPurple-10" v-show="searchResultBusinesses.length < 1 && !loadingAvailableBusinesses"><span>No results.</span></div>
                                <div class="bg-customPurple-10" v-show="loadingAvailableBusinesses"><span>Searching...</span></div>
                                <div v-for="(item, index) in searchResultBusinesses"
                                     v-bind:key="item.Id"
                                     v-on:click="selectBusiness(item)">
                                    <div class="p-1"
                                         :class="{'bg-customPurple-10':index%2 ==0,'bg-background-2':index%2 ==1, 'hover:text-border-1 cursor-pointer w-full': true}">
                                        <span>{{item.Name}}</span>
                                    </div>
                                </div>
                            </template>
                        </c-dropdown>
                    </div>
                    <div class="flex justify-between mt-2">
                        <c-checkbox v-model="paymentDetails.IsDeposit" label="Deposit"></c-checkbox>
                        <c-checkbox variant="green" v-model="paymentDetails.IsPaidToPerson" label="Paid To Person"></c-checkbox>
                        <c-datepicker label="Date:" :value="paymentDetails.Date" v-model="paymentDetails.Date" required />
                    </div>
                    <div class="mt-2">
                        <c-input input-label="Payment Priority: ">
                            <template v-slot:input>
                                <c-select :options="paymentPriorities" track-by="PaymentPriorityId" :value="paymentDetails.PaymentPriorityId" v-model="paymentDetails.PaymentPriorityId"></c-select>
                            </template>
                        </c-input>
                    </div>
                </div>
                <div>
                    <c-table v-bind:filter="paymenrRecommendationFilter" v-on:fetch-page="fetchRecommendationPage">
                        <template v-slot:thead>
                            <tr>
                                <c-th title="Business">
                                </c-th>
                                <c-th title="Category">
                                </c-th>
                                <c-th colspan="2" title="Price" v-bind:value="12" v-bind:order-by="filter.OrderBy">
                                </c-th>
                            </tr>
                        </template>
                        <template v-slot:tbody>
                            <template v-for="(item, index) in recommendations">
                                <tr v-on:click="selectRecommendation(item)" :class="{'bg-customPurple-10':index%2 ==0, 'hover:text-border-1 cursor-pointer': true}">
                                    <td>{{item.BusinessName}}</td>
                                    <td>{{item.CategoryName}}</td>
                                    <td colspan="2">{{item.AveragePriceFormatted}}</td>
                                </tr>
                            </template>
                        </template>
                    </c-table>

                </div>

            </div>
        </template>
    </c-modal>
</div>
