@page
@model Web.Pages.Report.YearlyOverview.YearlyOverviewModel
@{
    ViewData["Title"] = "Yearly Report";
}
@section Scripts{
    <environment include="Development">
        <script src="/js/yearlyoverview.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="/js/yearlyoverview.min.js"></script>
    </environment>
}
    <div class="row justify-content-left" id="app">
        <section is="content-section" icon="fas fa-list" title="Overal Incomes and Expenditures" class="col-12 col-xl-5">
            <div class="row overflow-auto" style="min-height: 40em; max-height: 35em; height: 40em;">
                <div class="col-12 d-flex justify-content-center">
                    <div style="position: relative; height: 100%; width: 100%;">
                        <canvas id="overalChart" width="10" height="10"></canvas>
                    </div>
                </div>
            </div>
        </section>
        <section is="content-section" icon="fas fa-list" title="Yearly" class="col-12 col-xl-5">
            <div class="row">
                <div class="col-2  text-right">
                    <div is="custom-input-group" input-label="Select a year" class="text-left">
                        Year: 
                        <select class="form-control form-control-sm" v-model="selectedYear">
                            <option v-for="item in years" v-bind:value="item">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row overflow-auto" style="min-height: 40em; max-height: 35em; height: 40em;">
                <div class="col-12 d-flex justify-content-center">
                    <div style="position: relative; height: 100%; width: 100%;">
                        <canvas id="yearlyChart" width="10" height="10"></canvas>
                    </div>
                </div>
            </div>
        </section>

    </div>