//ALL VARIABLES ARE DEFINED FOR REFERENCE PURPOSE FROM OTHER SASS FILES. PROPERTY VALUES WILL BE OVERRIDDEN BY BOOTSTRAP THEME
//ALL VARIABLES ARE DEFINED FOR REFERENCE PURPOSE FROM OTHER SASS FILES. PROPERTY VALUES WILL BE OVERRIDDEN BY BOOTSTRAP THEME
//ALL VARIABLES ARE DEFINED FOR REFERENCE PURPOSE FROM OTHER SASS FILES. PROPERTY VALUES WILL BE OVERRIDDEN BY BOOTSTRAP THEME
//ALL VARIABLES ARE DEFINED FOR REFERENCE PURPOSE FROM OTHER SASS FILES. PROPERTY VALUES WILL BE OVERRIDDEN BY BOOTSTRAP THEME
$custom1: #666A86 !default;
$custom2: #93B7BE !default;
$custom3: #454545 !default;
$custom4: #6A8EAE !default;
$custom5: #F1FFFA !default;

$grid-breakpoints: 300px !default;
$black: #000 !default;
$white: #f1f1f1 !default;
$green: #719e73 !default;
$yellow: #eded6e !default;
$red: #c7747c !default;

$gray-100: #f0f2f4 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$primary: $custom1 !default;
$secondary: $custom2 !default;
$dark: $custom3 !default;
$info: $custom4 !default;
$light: $custom5 !default;

$success: $green !default;
$danger: $red !default;
$warning: $yellow !default;

$input-bg: blue !default;
$input-disabled-bg: blue !default;

//SET MOBILE VIEW LIMIT. AFFECTS MENU TYPE BREAK POINT
$mobileViewLimit: map-get($grid-breakpoints, md);


//SET TOP NAVIGATION HEIGHT
$topNavigationHeight: 3.4rem;
//SET NAVIGATION MINIFIED/EXTENDED WIDTH. AFFECTS MAIN CONTENT SIZE AS WELL
$mainNavigationMinifiedWidth: 2.5rem !default;
$mainNavigationExtendedWidth: 14.4rem !default;

//SET MINIFIED MENU SUB MENU LIST COLORS
$nav-ul-minified-ul-bg: $gray-300;
$nav-ul-minified-li-hover-bg: $gray-600;
$nav-ul-minified-li-active-bg: $primary;
$nav-ul-minified-li-text: $primary;
$nav-ul-minified-li-hover-text: $white;
$nav-ul-minified-li-active-text: $white;