@page "/admin/account/role/roledetails/{id:long}"
@model Web0.Pages.Admin.Account.Role.RoleDetailsModel
@{
}
@section Scripts{
<environment>
    <script src="/js/roleDetails.min.js"></script>
</environment>
}
<div class="row justify-content-center" id="app" data-entity-id="@Model.EntityId">
    <div class="input-group text-center">
        <label>Name: </label>
        <input v-model="details.Name" />
    </div>
    <button type="button" class="btn btn-primary" v-on:click="save">Save</button>

</div>