@page
@model Web.Pages.Material.MaterialListModel
@{
    ViewData["Title"] = "Material List";
}
@section Scripts{
    <environment include="Development">
        <script src="/js/materiallist.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="/js/materialList.min.js"></script>
    </environment>
}
<div class="row justify-content-center" id="app" v-on:scroll.passive="scrolltest">
    <c-section title="Material List">
        <template v-slot:content>
            <div>
                <div class="flex">
                    <c-button class="mr-2" title="New Batch" icon="fa-plus" v-on:click="openBatchDetailsModal"></c-button>
                    <c-button title="New Material" icon="fa-plus" v-on:click="openMaterialDetailsModal"></c-button>
                </div>
                <div>
                    <c-table class="mt-5" :use-infinite-scroll="false" v-bind:filter="filter" v-on:fetch-page="fetchPage">
                        <template v-slot:thead>
                            <tr>
                                <c-th title="Question" value="Question"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th title="Answer"
                                      value="Answer"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th title="Step"
                                      value="Step"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th title="Batch No"
                                      value="Batch No"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th title="Category"
                                      value="CategoryId"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                                <c-th colspan="2"
                                      title="CreatedAt"
                                      value="CreatedAt"
                                      v-bind:order-by="filter.OrderBy"
                                      v-bind:order-by-direction="filter.OrderByDirection"
                                      v-on:update-order-by-direction="setOrderByDirection($event)"
                                      v-on:update-order-by="setOrderBy($event)">
                                </c-th>
                            </tr>
                            <tr>
                                <th>
                                    <c-input>
                                        <template v-slot:input>
                                            <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="filter.Question" />
                                        </template>
                                    </c-input>
                                </th>
                                <th>
                                    <c-input>
                                        <template v-slot:input>
                                            <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="filter.Answer" />
                                        </template>
                                    </c-input>
                                </th>
                                <th>
                                    <c-input>
                                        <template v-slot:input>
                                            <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="filter.Step" />
                                        </template>
                                    </c-input>
                                </th>
                                <th>
                                    <c-input>
                                        <template v-slot:input>
                                            <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="filter.BatchNo" />
                                        </template>
                                    </c-input>
                                </th>
                                <th>
                                    <c-input>
                                        <template v-slot:input>
                                            <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="filter.Category" />
                                        </template>
                                    </c-input>
                                </th>
                                <th>
                                    <c-datepicker v-model="filter.CreatedAt"></c-datepicker>
                                </th>
                            </tr>
                        </template>
                        <template v-slot:tbody>
                            <template v-for="(item, index) in items">
                                <c-tr v-bind:index="index" v-on:click="openMaterialDetailsModal(item)">
                                    <template v-slot:content>
                                        <td class="pl-3">{{item.Question}}</td>
                                        <td class="pl-3">{{item.Answer}}</td>
                                        <td class="pl-3">{{item.StepString}}</td>
                                        <td class="pl-3">{{item.BatchNo}}</td>
                                        <td class="pl-3">{{item.CategoryName}}</td>
                                        <td class="pl-3">{{item.CreatedAtFormatted}}</td>
                                    </template>
                                </c-tr>
                            </template>
                        </template>
                    </c-table>

                </div>
            </div>
        </template>
    </c-section>
    <c-modal v-on:save="saveMaterial" v-on:keyup.esc="closeModal()" v-on:close="closeModal()" v-show="showDetailsModal">
        <template v-slot:header>
            <h4>{{details.MaterialId > 0 ? details.Question : 'New Material'}}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </template>
        <template v-slot:body>
            <div class="flex justif-between">
                <div class="mr-4">
                    <div>
                        <c-input input-label="Batch Number: ">
                            <template v-slot:input>
                                <c-select :options="batches" displaying-property="BatchNo" track-by="BatchId" :value="details.BatchId" v-model="details.BatchId"></c-select>
                            </template>
                        </c-input>
                    </div>
                    <div class="flex gap-2 mt-2">
                        <div>
                            <c-input input-label="Question">
                                <template v-slot:input>
                                    <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="details.Question" />
                                </template>
                            </c-input>
                        </div>
                        <div>
                            <c-input input-label="Answer">
                                <template v-slot:input>
                                    <input class="bg-blue-900 border-2 rounded-full" v-model="details.Answer" required />
                                </template>
                            </c-input>
                        </div>
                    </div>
                    <div class="flex justify-between mt-2">
                        <div class="mt-2">
                            <c-input input-label="Category">
                                <template v-slot:input>
                                    <c-select :options="categories" track-by="CategoryId" :value="details.CategoryId" v-model="details.CategoryId"></c-select>
                                </template>
                            </c-input>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </c-modal>
    <c-modal v-on:save="saveBatch" v-on:keyup.esc="closeModal()" v-on:close="closeModal()" v-show="showBatchDetailsModal">
        <template v-slot:header>
            <h4>{{batchDetails.BatchId > 0 ? batchDetails.BatchNo: 'New Batch'}}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </template>
        <template v-slot:body>
            <div class="mr-4">
                <div class="flex gap-2 mt-2">
                    <div>
                        <c-input input-label="Batch Number">
                            <template v-slot:input>
                                <input class="bg-blue-900 border-2 rounded-full" type="text" v-model="batchDetails.BatchNo" />
                            </template>
                        </c-input>
                    </div>
                </div>
            </div>
        </template>
    </c-modal>
</div>
