<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="TagPortal" connectionString="Data Source=DESKTOP-QMKAC7U;Initial Catalog=BudgetingApp_2_12_2022;Persist Security Info=True;Integrated Security=true;"
			xdt:Transform="Replace" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" xdt:Transform="SetAttributes" />
	</system.web>
</configuration>